dash==3.2.0
plotly==5.23.0
pandas==2.2.3
numpy==2.3.4
scipy==1.16.3
statsmodels==0.14.5
yfinance==0.2.66
gunicorn==23.0.0
python-dotenv==1.0.1
requests-cache==1.2.1
tenacity==9.1.2
pandas-datareader==0.10.0